<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reset Password for <%=email%></title>
</head>
<body>
  <h1>Reset Password for <%=email%></h1>
  <form id="resetPasswordForm" method="PUT">
    <div>
      <label for="newPassword">New Password:</label>
      <input type="password" id="newPassword" name="newPassword" required>
    </div>
    <div>
      <label for="newPasswordConfirmed">Confirm New Password:</label>
      <input type="password" id="newPasswordConfirmed" name="newPasswordConfirmed" required>
    </div>
    <button type="submit">Reset Password</button>
  </form>
  <script>
    document.getElementById('resetPasswordForm').addEventListener('submit', function(event) {
      event.preventDefault(); // Prevent form from reloading the page
      const form = event.target;

      fetch(`/api/account/reset-password/<%= email %>/<%= token %>`, {
        method: 'PUT',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          newPassword: form.newPassword.value,
          newPasswordConfirmed: form.newPasswordConfirmed.value
        })
      })
      .then(response => response.json())
      .then(data => {
        if (data.error) {
          alert('Error changing password');
        } else {
          alert('Password reset successful');
          window.location.href = '/';
        }
      })
      .catch(error => {
        console.error('Error:', error);
        alert('An error occurred. Please try again.');
      });
    });
  </script>
</body>
</html>
